<%= form_tag "/payments", :method => 'get' do %>
    <select name="filter_plan">
        <%= options_from_collection_for_select(InternetPackage.all, :plan, :plan) %>
    </select>
    <%=submit_tag "filter"%>
<%end %>

<div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div class="panel panel-info">
            
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Payment History
                    </h2>
                </div>
                <div class="panel-body">
                    <h3>
                    
                        <%=@payments.first.user.email%>
                    </h3>
                </div>
                    <ul class="list-group">
                    
                    <li class="list-group-item">
        
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Plan</th>
                                <th>Payed Date</th>
                                <th>Months</th>
                                <th>Amount Payed</th>
                            </tr>
                        </thead>
                        <tbody>
                        <%@payments.each do |payment| %>
                            <tr>
                                <td><%=payment.internet_package.plan%></td>
                                <td><%=payment.payed_date.strftime("%A, %b %d, %Y")%></td>
                                <td><%=payment.months%></td>
                                <td>$<%=sprintf('%.2f', (payment.internet_package.price * payment.months))%></td>
                            </tr> 
                        <%end%>
                           

                        </tbody>
                    </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

